body { font-family: Arial; font-size:18px; margin:0px; padding:0px; }
a { color:#4680FF; text-decoration:none; }
a:hover { background-color:#4680FF; color:white; }
.error { text-align:center; color:red; font-weight:normal; }
.success { text-algin:center; font-weight:bold; }
#rendertime { position:absolute; bottom:10px; right:10px; font-size:0.7em; }
#login { padding-top:100px; }

#bigform { width:700px; margin:0px auto 0px auto; text-align:center;}
#bigform label { clear:right; display:block; }
#bigform input { font-size:1.5em; margin:15px 0px; }
#bigform select { font-size:1.5em; padding:5px;  }
#bigform p { margin:0px; }
#bigform p em { font-weight:bold; }

#site_nav { margin-bottom:20px; padding:5px; border-bottom:1px solid #AAA; text-align:left; }

#site_nav em { font-style:normal; font-weight:bold; }
#site_nav .logout { float:right; }
#site_nav .sitelinks a { margin:0px 10px; }

#user_nav { margin:0px 0px 0px 0px; padding:0px; width:210px; border: 0px solid black; float: left; height: 600px; }

#user_nav a:hover { background-color:white; color:#0E2964; }
#user_nav em {  font-style:italic; font-weight:normal; color:#999; }
#user_nav ul { padding-left:10px; margin-bottom:20px; }
#user_nav li { list-style-type:none; margin:5px 0px; }
#user_nav > li { font-weight:bold; margin:0px 0px 0px 0px; background-color:#4680FF; color:white; text-align:right; padding:0px 10px; font-size:1.1em; }

#user_body { width:700px; margin:10px 100px 200px 230px; border:0px solid black; }
#user_body h1 {  color:#4680FF; text-align:center; }
#user_body object, 
#user_body embed { margin:25px auto; }
#user_body #module { border:0px solid fuchsia; text-align:center; }
#user_body #modulelist em { font-weight:bold;  }
#user_body #modulelist li { margin:15px 0px; }
#user_body h1 a.small { font-size:14px; vertical-align:middle; }

table#list { margin:0px auto; }
table#list thead { font-weight:bold; text-align:center; }
table#list .c1 { background-color:#EEE; }
table#list .c2 { background-color:#FFF; }
ul#list li { margin:10px 0px; }
ul#list em { font-weight:bold; }


#individual_transactions { margin:0px auto; }

#bizlist li { margin: 10px 0px; }
#bizlist li a { margin:0px 15px 0px 0px; }