body { margin:0px; background-color:#F5F5F5; font-family:Georgia,sans-serif; font-size:14px; vertical-align:top; }
h1 { font-weight:normal; color:#9d1f14; font-style:italic; margin-top:50px;}
h2,h3,h4 { font-weight:normal; color:#9d1f14; border-bottom:1px solid #9d1f14; }
h2 { font-size:1.2em; }
a { color:#9d1f14; text-decoration:none; }
a:hover { font-style:italic; }

.nav { vertical-align:top; width:100%; font-size:1.5em; background-image:url('/system/application/img/red_bkg.jpg'); height:57px; }
.nav li { list-style-type:none; margin:5px 0px; color:#9d1f14; }
.nav img {  border:0px; }
.nav a { color:#9d1f14; text-decoration:none; }
.nav a:hover { font-style:italic; }
.nav .login { border:dashed 1px #9d1f14; border-left:0px; border-right:0px; margin:20px 0px; padding:5px 0px; display:block; width:51%; text-align:center; }
.nav ul ul { padding:0px; }
.nav ul ul li { font-size:0.7em; list-style-type:square; list-style-position:inside; margin:0px; padding:0px; }
.nav #sponsors,
.nav #secured  { padding-left:40px; }
.nav #sponsors img { width:170px;  display:block; margin:0px 0px 20px 0px; border:0px solid red; }
.nav #sponsors h1,
.nav #secured h1 { font-size:12px; margin:0px; }

.error { text-align:center; color:white; background-color:#9D1F14; font-weight:normal; font-size:1.5em; }
.success { text-align:center; font-weight:bold; color:white; background-color:#6fb33d; font-size:1.5em; }

#bigform { margin:0px auto 0px auto; text-align:center; font-size:1.0em; }
#bigform label { clear:right; display:block; }
#bigform input { font-size:1.5em; margin:15px 10px; text-align:center; color:#000; font-family:inherit; }
#bigform textarea { font-size:1.5em; color:#000; font-family:inherit; }
#bigform select { font-size:1.5em; padding:0px 25px; }
#bigform p { margin:0px; }
#bigform p em { font-weight:bold; }
#bigform tfoot td { text-align:center; }
#bigform.login { margin-top:300px; }

#body { width:1000px; border:0px solid black; margin:0px auto; }
#body h1 { color:#9D1F14; text-align:center; margin:25px; }
#body h3 { margin:60px 0px 0px 0px; }
#body object, 
#body embed { margin:25px auto; }
#body h1 a.small { font-size:14px; vertical-align:middle; }
#body h1 a.small:hover { color:white; background-color:#9d1f14; }
#body #secured { text-align:center; }
#body #modulelist em { font-weight:bold;  }
#body #modulelist li { margin:15px 0px; }
#body .module { }
#body .module .vis { width:90%; height:350px; margin:20px auto; }
#body .module #stats { width:100%; }
#body .module #stats p { margin:5px 0px; }
#body .module #stats b { margin:0px; margin-right:0px; }
#body .module #stats td { vertical-align:top; width:33%; }
#body .module #stats ol { margin:0px; padding:0px; }
#body .module #stats li { list-style-position:inside; }
#body .module #stats h1 { color:black; font-size:1.0em; margin:0px 0px 5px 0px; font-weight:normal; border-bottom:1px solid black; }

#body .module_option { float:left; border:0px solid red; margin:10px 10px; }
#body .module_option p:first-child { font-weight:bold; font-size:1.0em; }

#body #module #tabular { border:0px solid black; width:100%; margin:10px; }
#body #module #tabular thead { font-weight:bold; text-align:center; }
#body #module #tabular .row1 { background-color:#e6f5d5; }
#body #module #tabular .row2 { background-color:white; }
#body #module #tabular td { padding:5px; }

table#list { margin:0px auto; }
table#list thead { font-weight:bold; text-align:center; }
table#list .c1 { background-color:#EEE; }
table#list .c2 { background-color:#FFF; }
table#list a { margin:0px 5px; }
ul#list li { margin:10px 0px; }
ul#list em { font-weight:bold; }

#individual_transactions { margin:0px auto; }

#filter_list li { margin: 10px 20px; display:block; float:left;}
#filter_list li em { font-weight:bold; }
#filter_list li a { margin:0px 15px 0px 0px; }

#viz_stacked {margin-left:120px;}
#viz_stacked input {margin:20px;}

/* WIKI */
#wikicmds { text-align:right; }
#wikicmds li { display:inline; list-style-type:none; }
#wikicmds a { text-decoration:none; color:#9d1f14; }

.body { vertical-align:top; }
.body p { margin:20px 0px; }
.body ul {  padding:0px; }
.body li { list-style-position:inside; }
