body { font-family: Arial; font-size:18px; }
#rendertime { position:absolute; bottom:10px; font-size:0.5em; }
input { font-size:1.5em; margin:15px 0px; }
label.error { color:red; }
#registrationform label { clear:right; display:block; }
#registrationform,#loginform { margin:100px auto 0px auto; text-align:center;}
#registrationform { border:0px solid red; width:700px; }
#registrationform p { margin:0px; }
div.error { text-align:center; color:red; font-size:bold; }

